body{
    background: black;
}
.alinear_toro{
    position: absolute;
    bottom: 0;
    left: 0;


}
.alinear_btc{
    position: absolute;
    left: 800px;
    bottom: 240px;
    width: 50px;
    height: 50px;

}
.alineal_ethe{
    position: absolute;
    top: 50px;
    left: 1000px;
    bottom: 400px;
    width: 50px;
    height: 50px;


}
.alinear_ltc{
    position: absolute;
    top: 50px;
    left: 550px;
    bottom: 400px;
    width: 50px;
    height: 50px;

}
.registro2{
    font-family: 'Playfair Display', serif;
}
.registro3{
    font-family: 'Playfair Display', serif;
}
a:hover{
    font-size: 1.4em;
}
a:link, a:visited{
    color: white;
}

a:active{
    font-weight: bold;
}
.registro2{
    font-size: 35px;
}

.soporte{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}

body{
    background: black;

}


.columna{
    font-family: 'Playfair Display', serif;
}
.inicio{
    font-family: 'Playfair Display', serif;
    margin: 0 250px 0;

}
a:hover{
    font-size: 1.4em;
}
a:link, a:visited{
    color: white;
}

a:active{
    font-weight: bold;
}
.registro{
    font-family: 'Playfair Display', serif;
    margin: 15px 250px 0;
    font-size: 35px;
}
.columna{
    float: left;
    width: 50%;
    height: 200em;

}
.imagen2{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 50px;
    height: 50px;

}
.Toro_{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 650px;
    height: 200px;

}



