body{
    background: black;

}


.columna{
    font-family: 'Playfair Display', serif;
}
.inicio{
    font-family: 'Playfair Display', serif;
    margin: 0 250px 0;

}
a:hover{
    font-size: 1.4em;
}
a:link, a:visited{
    color: white;
}

a:active{
    font-weight: bold;
}
.registro{
    font-family: 'Playfair Display', serif;
    margin: 15px 250px 0;
    font-size: 35px;
}

